/* Ketika ukuran dibawah 850px */
@media (max-width: 850px) {
  .form-container {
    background-color: #e6f3ff;
    width: 650px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    display: block;
  }

  .login-title {
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
  }

  .img-register {
    width: 225px;
    height: auto;
  }

  .custom-align {
    align-items: center;
  }
}

@media (max-width: 765px) {
  .form-container {
    background-color: #e6f3ff;
    width: 625px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    display: block;
  }

  .img-register {
    width: 200px;
    height: auto;
  }

  .custom-margin2 {
    margin-bottom: 20px !important;
  }

  .custom-align {
    align-items: center;
  }
}

@media (max-width: 715px) {
  .form-container {
    background-color: #e6f3ff;
    width: 600px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    display: block;
  }

  .img-register {
    width: 200px;
    height: auto;
  }

  .custom-margin2 {
    margin-bottom: 20px !important;
  }

  .custom-align {
    align-items: center;
  }
}

@media (max-width: 653px) {
  .form-container {
    background-color: #e6f3ff;
    width: 500px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    display: block;
  }

  .img-register {
    width: 200px;
    height: auto;
  }

  .custom-margin2 {
    margin-bottom: 20px !important;
  }

  .custom-align {
    align-items: center;
  }
}

@media (max-width: 576px) {
  .form-container {
    background-color: #e6f3ff;
    width: 420px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    display: block;
  }

  .img-register {
    width: 150px;
    height: auto;
  }

  .login-title {
    font-size: 18px;
  }

  label {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .custom-margin2 {
    margin-bottom: 15px !important;
  }

  .custom-align {
    align-items: center;
  }
}

@media (max-width: 510px) {
  .form-container {
    background-color: #e6f3ff;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    display: block;
  }

  .img-register {
    width: 125px;
    height: auto;
  }

  .login-title {
    font-size: 18px;
  }

  label {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .custom-margin2 {
    margin-bottom: 15px !important;
  }

  .custom-align {
    align-items: center;
  }
}

@media (max-width: 476px) {
  .form-container {
    background-color: #e6f3ff;
    width: 380px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin-top: 200px;
    display: block;
  }

  .img-register {
    width: 150px;
    height: auto;
  }

  .login-title {
    font-size: 18px;
  }

  label {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .custom-margin2 {
    margin-bottom: 15px !important;
  }

  .custom-align {
    align-items: center;
  }
}

@media (max-width: 420px) {
  .form-container {
    background-color: #e6f3ff;
    width: 300px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    display: block;
  }

  .img-register {
    width: 100px;
    height: auto;
  }

  .login-title {
    font-size: 18px;
  }

  label {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .custom-margin2 {
    margin-bottom: 15px !important;
  }

  .custom-align {
    align-items: center;
  }
}
