:root {
  /* ===== Colors ===== */
  --body-color: #dfe9f4;
  --sidebar-color: #fff;
  --primary-color: #054c73;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
  }

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

@media (max-width: 1199px) {
  .sidebar header .toggle {
    display: none;
  }
}

@media (max-width: 1000px) {
  body {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    z-index: -1;
  }

  .sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
  }

  .sidebar header .toggle {
    display: none;
  }

  .card-title {
    font-size: 20px;
  }
}
