@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.form-container {
  background-color: #e6f3ff;
  width: 800px;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin-top: 120px;
  margin-bottom: 120px;
  display: block;
}

.login-title {
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 45px;
  text-align: center;
}

.img-register {
  width: 280px;
}

.btn {
  width: 150px;
  border-radius: 14px;
  margin: 0 auto;
  display: block;
  background-color: #f9ed32;
  font-family: 600;
}

.btn:hover {
  background-color: #d9bd32;
}

.form-control {
  border-radius: 14px;
}

/* LOGIN */
.checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.fl600 {
  font-weight: 500;
}
